  <section id="header">
    <div class="logo-container">
      <img src="../../assets/logo/kvro_logo.svg" alt="Brand logo"/>
      <h1>Kvro</h1>
    </div>
    <nav class="navbar">
      <input class="checkBox" type="checkbox" id="check"/>
      <ul class="navWrap">
        <li><a href="/index.html">Home</a></li>
        <li><a href="pages/Portfolio/portfolio.html">Portfolio</a></li>
        <li><a href="pages/Services/service.html">Service</a></li>
        <li><a href="pages/Contacts/contacts.html">Contact</a></li>
         <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
      </ul>
      <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
    </nav>
  </section>