<section id="footer-wrap">
  <div class="social-wrap">
    <img src="../../assets/social_icon/facebook.svg" alt="Facebook"/>
    <img src="../../assets/social_icon/instagram.svg" alt="Instagram"/>
    <img src="../../assets/social_icon/twitter.svg" alt="Twitter"/>
    <img src="../../assets/social_icon/pinterest.svg" alt="Pinterest"/>
    <img src="../../assets/social_icon/tiktok.svg" alt="Tiktok"/>
    <img src="../../assets/social_icon/whatsapp.svg" alt="Whatsapp"/>
    <img src="../../assets/social_icon/youtube.svg" alt="YouTube"/>
  </div>
  <span>© Start, 2022. All rights reserved.</span>
</section> 